html {
    background: url("../index_back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#encryption_form {
    position: absolute;
    left: 50%;
    top: 40%;
    opacity: 0.95;
    height: 100%;
    width: 500px;
}

#encryption_form input {
    height: 50px;
    width: 50%;
    font-size: large;
    margin-bottom: 5px;
}

