html {
    background: url("../index_back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#result {
    position: absolute;
    left: 45%;
    top: 40%;
    opacity: 0.95;
    height: 100%;
    width: 500px;
}

#result table{
    border: 1px solid #eee;
    table-layout: auto;
    width: 100%;
    margin-bottom: 20px;
}
#result table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
#result table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}
#result table tbody tr:nth-child(odd){
    background: #fff;
}
#result table tbody tr:nth-child(even){
    background: #F7F7F7;
}
#result form button {
    position: center;
    height: 50px;
    width: 200px;
    background: #dddddd;
    font-size: large;
}