<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DES</title>
    <link href="../static/css/cipher.css" th:href="@{/css/cipher.css}" rel="stylesheet" />
</head>
<body>
<div id="encryption_form">
    <form method="post" th:action="@{/des}" th:object="${encryptionForm}">
        <input id="text" placeholder="Текст" required type="text" th:field="*{text}"/> <br>
        <input id="key" placeholder="Ключ" required type="text" th:field="*{key}"/> <br>
        <input id="submit" type="submit" value="Зашифровать">
    </form>
</div>
</body>
</html>